<div>
    {% for provider in hybridauth.getProviders %}



        {% set info = hybridauth.getProviderConfig(provider).info %}
        <a href="{{ path('hybridauth/authenticate', {'provider': provider, 'redirect': currentUrl|url_encode }) }}" class="h4 d-block">
            {% if provider in attachedProviders|map(i => i.getProvider)%}
                [Attached]
            {% endif %}
            <i class="{{ info.icon }}" title="Войти через {{ info.name ??  provider }}"></i> {{ info.name ??  provider }}
        </a>
    {% endfor %}
</div>

