hybridauth:
  allow-auto-register: true
  providers:
    Twitter:
      enabled: true
      info:
        name: Google
        icon: fa fa-google
      keys:
        key: public-key
        secret: secret-key
